*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
 
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgb(0, 251, 255), rgb(135, 135, 11));
}

h1{
  text-align: center;
  margin: 2rem;
  
}

input[type=text]{
  height: 2rem;
  width:10rem;
  text-align: center;
  margin: 1.5rem ;
}
